@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900|Source+Sans+Pro:300');


$title-color:#333b46;
$text-color:#81868e;
$secondary-color:#fff;
$accent-color:#19bd9a;
$text-ff: 'Open Sans', Arial, sans-serif;
$title-ff:'Source Sans Pro', Arial, sans-serif;
$logo-weight: 900;
$text-weight: 400;
$bgc-color:#f3f3f3;

